.favorites {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 70px 20px;
	width: 100%;

	h1 {
		font-size: 40px;
		border-bottom: 2px solid rgba(230, 230, 230, 0.768);
		width: 50%;
		text-align: center;
		padding: 10px;
		margin-bottom: 40px;
	}
}


