.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cart-header {
  font-size: 40px;
  border-bottom: 2px solid rgba(230, 230, 230, 0.768);
  width: 50%;
  text-align: center;
  padding: 10px;
  margin-bottom: 40px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  
  .single-item {
    background-color: rgb(16, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 20vh;
    width: 100%;
    margin: 20px;
    justify-content: space-between;
    color: white;
    border-radius: 20px;
    overflow: hidden;

    .cart-img-container {
      height: 100%;
      border-radius: 1px solid black;

      .cart-img {
        height: 100%;
        width: auto;
      }
    }

    p {
      font-size: 20px;
    }

    .remove-item {
      width: 35px;
      filter: brightness(0.25);
      filter: invert(75%);
      margin: 10px 10px 10px;
      transition: ease-in-out 0.2s;
    }

    .remove-item:hover {
      filter: invert(76%) sepia(36%) saturate(2393%) hue-rotate(354deg) brightness(102%) contrast(80%);
    }
  }

}


.cart-columns {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.cart-finances {
  display: flex;
  flex-direction: column;
  padding: 10%;
}

.cart-text {
  padding: 5px;
  font-size: 30px;
}

.cart-total {
  margin-top: 30px;
  font-size: 35px;
}

.cart-img {
  width: 20%;
}