.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-header {
  margin: 40px;
  font-size: 2.5vw;
}

.cart-bar {
  background-color: white;
  width: 70%;
  height: 1px;
  border-radius: 5px;
  margin: 40px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 40px;
}

.single-item {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  height: 20vh;
  width: 100%;
  margin: 20px;
  justify-content: space-between;
  color: white;
}

.cart-columns {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.cart-finances {
  display: flex;
  flex-direction: column;
  padding: 10%;
}

.cart-text {
  font-size: 1.2vw;
  padding: 5px;
}

.cart-total {
  font-size: 2vw;
  margin-top: 40px;
}

.cart-img {
  width: 20%;
}