.image-page {
    display: flex;
    flex-direction: row;
    margin: 20px 50px 20px;
}

.image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-page-img {
    width: 490px;
}

.info-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-left: 50px;
}

.description-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px 20px 20px
}

.title {
    font-weight: bold;
    font-size: 40px;
}

.description {
    width: 90%;
    height: 100%;
    font-size: 25px;
    margin-top: 20px;
    line-height: 1.3;
}

.artist {
    font-size: 25px;
    margin: 20px 0px 20px
}

.type {
    font-size: 25px;
    margin: 10px 0px 10px
}

.button-wrapper {
    border: 1px solid white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cartButton {
    width: 120px;
    height: 30px;
    font-size: 2vh;
    text-align: center;
    background-color: grey;
    color: white;
    margin: 20px 20px 20px
}

.favButton {
    background-color: lightgray;
    width: 120px;
    height: 30px;
    margin: 20px 20px 20px

}

.favButton.active{
    background-color: red;
    color: white;
}
