.grid {
  --gap: 37px;
  --columns: 3;
  max-width: 65rem;
  margin: 50px 0px 50px;
  display: column;
  columns: var(--columns);
  gap: var(--gap);
}

.grid > * {
  break-inside: avoid;
  margin-bottom: var(--gap);
}

@supports (grid-template-rows: masonry) {
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: masonry;
    grid-auto-flow: dense;
  }

  .grid > * {
    margin-bottom: 0em;
  }
}

.loading-animation{
  position:relative;
  left: 100%;
  top: 10%;
}