.card {
  border: 2px solid rgb(253, 253, 253);
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  margin: 10px, 10px, 10px;
}

img {
  width: 100%;
  box-sizing: border-box;
}